<template>
  <div class="container">
    <router-view></router-view>
  </div>
</template>

<style scoped>
.container {
  padding-top: 30px;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}
</style>
